{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">

    <div class="filters">
        <div class="title">
            <h1>Filtros</h1>
        </div>
        <form action="" method="get">
            <div class="filter">
                <label>
                    <input type="checkbox" name="tasks_today">
                    <span>
                        <div>
                        </div>
                    </span>
                    Tarefas do dia
                </label>
                <label style="flex-direction: column; ">
                    <p style="align-self: flex-start;">Filtrar por data:</p>
                    <input type="date" name="data_customer">
                </label>
            </div>
            <div class="buttons">
                <button type="submit">Filtrar</button>
                <button type="submit">Resetar</button>
            </div>
        </form>
    </div>

    <div class="tasks">
        <div class="title">
            <div>
                <h1>Tarefas</h1>
                <p>{{ quantity_tasks }} tarefas cadastradas </p>
            </div>
        </div>

        <div class="starteds task_container" name="starteds">

            <div class="title">
                <h2><span>{{ tasks_ni|length }}</span> Não iniciadas</h2>
                <span class="material-symbols-outlined" id="addNI">
                    add
                </span>
            </div>

            {% for task_ni in tasks_ni %}
            <div class="card" draggable="true" name="{{task_ni.id}}">
                <main>
                    <div>
                        <h3>
                            {{ task_ni.title|title }}
                        </h3>
                        <p>Criado: {{ task_ni.create|date:"d/m/Y H:i" }}</p>
                    </div>
                    <p class="desc">
                         {{ task_ni.description }}
                    </p>
                </main>
                <aside>
                    <form method="POST">
                        {% csrf_token %}
                        <span class="material-symbols-outlined">
                            check
                        </span>
                        <span class="material-symbols-outlined editTask">
                            edit
                        </span>
                        <input type="hidden" value="{{task_ni.id}}" name="tarefa_id">
                        <span class="material-symbols-outlined deleteBtn">
                                delete
                        </span>
                    </form>
                </aside>
            </div>
            {% endfor %}
      
        </div>

        <div class="progress task_container" name="progress">

            <div class="title">
                <h2><span>{{ tasks_ea|length }}</span>Em progresso</h2>
               <span class="material-symbols-outlined" id="addEA">
                   add
               </span>
            </div>

            {% for task_e in tasks_ea %}
            <div class="card" draggable="true" name="{{task_ea.id}}">
                <main>
                    <div>
                        <h3>
                            {{ task_e.title|title }}
                        </h3>
                        <p>Criado: {{ task_e.create|date:"d/m/Y H:i" }}</p>
                    </div>
                    <p class="desc">
                        {{ task_e.description }}
                    </p>
                </main>
                <aside>
                    <form method="POST">
                        {% csrf_token %}
                        <span class="material-symbols-outlined">
                            check
                        </span>
                        <span class="material-symbols-outlined editTask">
                            edit
                        </span>
                        <input type="hidden" value="{{task_e.id}}" name="tarefa_id">
                        <span class="material-symbols-outlined deleteBtn">
                                delete
                        </span>
                    </form>
                </aside>
            </div>
            {% endfor %}
        </div>

        <div class="conpleted task_container" name="conpleted">

            <div class="title">
                <h2><span>{{ tasks_cl|length }}</span>Concluidas</h2>
               <span class="material-symbols-outlined" id="addCL">
                   add
               </span>
            </div>

            {% for task_c in tasks_cl %}
            <div class="card" draggable="true" name="{{task_cl.id}}">  
                <main>
                    <div>
                        <h3>
                            {{ task_c.title|title }}
                        </h3>
                        <p>Criado: {{ task_c.create|date:"d/m/Y H:i" }}</p>
                    </div>
                    <p class="desc">
                        {{ task_c.description }}
                    </p>
                </main>
                <aside>
                    <form method="POST">
                        {% csrf_token %}
                        <span class="material-symbols-outlined">
                            check
                        </span>
                        <span class="material-symbols-outlined editTask">
                            edit
                        </span>
                        <input type="hidden" value="{{task_c.id}}" name="tarefa_id">
                        <span class="material-symbols-outlined deleteBtn">
                            delete
                        </span>
                    </form>
                </aside>
            </div>
            {% endfor %}
        </div>

    </div>

</div>

<!-- style="display: none;"  -->
<aside id="modalRegister" class="backRegister hiden">

    <div class="modalRegister">
        <div class="title">
            <h2>Cadastro de Tarefa</h2>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="">
                <p>Nome da tarefa: </p>
                <input type="text" name="title">
            </label>
            <label for="">
                <p>Descrição da Tarefa:</p>
                <textarea name="description">

                </textarea>
            </label>
            <input type="text" hidden value="NI" name="task_status" id="task_status">
            <button type="submit">Enviar</button>
        </form>
    </div>

</aside>

<aside class="backRegister hiden" id="modalDelete">
    <div class="modalDelete">
        <div class="title">
            <h1>Tem certeza que deseja deletar?</h1>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" name="deleteMethod" class="btnDelete">Sim</button>
            <button class="notDelete">Não</button>
        </form>
    </div>
</aside>

{% endblock %}